*.a
*.o
*.o.*
#.d
*.def
*.dll
*.dylib
*.exe
*.exp
*.gcda
*.gcno
*.h.c
*.ilk
*.lib
*.pc
*.pdb
*.so
*.so.*
*.swp
*.ver
*.version
*.metal.air
*.metallib
*.metallib.c
*.ptx
*.ptx.c
*.ptx.gz
#_g
*.apk
*.gho
*.iso
*.img
*.vdi
*.vmdk
*.wim
*.vsix
*.msi
*.sys
*.avi
*.flv
*.rm
*.rmvb
*.wmv
*.wav
*.ogg
*.flac
*.mp3
*.mp4
*.mkv
*.mpeg*
*.mov
#.webp
#.avif
#.jxl
#.png
#.apng
#.jpg
#.jpeg
#.gif
#.bmp
#.svg
#.ico
hdparm_141_2024-09.conf